@charset "UTF-8";
@font-face {
  font-family: "Cinta";
  font-weight: 300;
  font-style: normal;
  src: local("Cinta");
  src: url("../fonts/CintaBook.eot");
  src: url("../fonts/CintaBook.woff");
  src: url("../fonts/CintaBook.ttf");
}

@font-face {
  font-family: "Cinta";
  font-weight: 400;
  font-style: normal;
  src: local("Cinta");
  src: url("../fonts/CintaRegular.eot");
  src: url("../fonts/CintaRegular.woff");
  src: url("../fonts/CintaRegular.ttf");
}

@font-face {
  font-family: "Cinta";
  font-weight: 500;
  font-style: normal;
  src: local("Cinta");
  src: url("../fonts/CintaSemibold.eot");
  src: url("../fonts/CintaSemibold.woff");
  src: url("../fonts/CintaSemibold.ttf");
}

@font-face {
  font-family: "Cinta";
  font-weight: 600;
  font-style: normal;
  src: local("Cinta");
  src: url("../fonts/CintaMedium.eot");
  src: url("../fonts/CintaMedium.woff");
  src: url("../fonts/CintaMedium.ttf");
}

@font-face {
  font-family: "Cinta";
  font-weight: 700;
  font-style: normal;
  src: local("Cinta");
  src: url("../fonts/CintaRegular-Bold.eot");
  src: url("../fonts/CintaRegular-Bold.woff");
  src: url("../fonts/CintaRegular-Bold.ttf");
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

html,
body {
  height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

b,
strong {
  font-weight: bold;
}

img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

ol,
ul {
  list-style: none;
}

li {
  display: list-item;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td,
caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: "";
  content: none;
}

sub,
sup,
small {
  font-size: 75%;
}

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

svg {
  overflow: hidden;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Cinta", "Arial", sans-serif;
  color: #616161;
  background-color: #eceff1;
}
body.modal-open {
  overflow: hidden;
}

a,
label {
  cursor: pointer;
  text-decoration: none;
  outline: none;
}

.clearfix:after {
  display: block;
  visibility: hidden;
  clear: both;
  overflow: hidden;
  content: '';
  width: 0;
  height: 0;
}

input,
textarea,
button {
  font-family: "Cinta";
  outline: none;
}

.inline-wrapper {
  display: inline-block;
  vertical-align: middle;
}

.inline-middle {
  font-size: 0;
}
.inline-middle:before {
  display: inline-block;
  height: 100%;
  content: '';
  vertical-align: middle;
}

.image {
  width: 100%;
}

.ta-right {
  text-align: right;
}

.wrapper {
  height: auto;
  min-height: 100%;
}
.wrapper:after {
  display: block;
  height: 190px;
  content: '';
}

.gray-text {
  color: #9e9e9e;
}

.green-text {
  color: #1da060;
}

.section {
  clear: both;
  width: 96%;
  min-width: 300px;
  max-width: 1040px;
  margin: 0 auto;
}
.section:after {
  display: block;
  clear: both;
  height: 0;
  content: '';
}

.section_middle {
  max-width: 960px;
}

.section_small {
  max-width: 820px;
}

.section_extra-small {
  max-width: 780px;
}

.col {
  float: left;
  margin-left: 1.7%;
}
.col:first-of-type {
  margin-left: 0;
}

.col_last {
  float: right;
}

.col_12 {
  width: 100%;
}

.col_11 {
  width: 91.52%;
}

.col_10 {
  width: 83.05%;
}

.col_9 {
  width: 74.57%;
}

.col_8 {
  width: 66.1%;
}

.col_7 {
  width: 57.62%;
}

.col_6 {
  width: 49.15%;
}

.col_5 {
  width: 40.67%;
}

.col_4 {
  width: 32.2%;
}

.col_3 {
  width: 23.72%;
}

.col_2 {
  width: 15.25%;
}

.col_1 {
  width: 6.775%;
}

@media screen and (max-width: 480px) {
  .col {
    margin-left: 0;
  }

  .col_1,
  .col_2,
  .col_3,
  .col_4,
  .col_5,
  .col_6,
  .col_7,
  .col_8,
  .col_9,
  .col_10,
  .col_11,
  .col_12 {
    width: 100%;
  }
}
@media screen and (min-width: 481px) and (max-width: 959px) {
  .advantages .col_3 {
    width: 49.15%;
  }
  .advantages .col_3:nth-of-type(2n-1) {
    margin-left: 0;
  }

  .job-list .col_4 {
    width: 49.15%;
  }
  .job-list .col_4:nth-of-type(2n-1) {
    clear: both;
    margin-left: 0;
  }
}
.line {
  overflow: hidden;
  width: 100%;
}

.line_white {
  background-color: white;
}

.line_dirty-white {
  background-color: #f4f1ea;
}

.line_green {
  color: white;
  background-color: #1da060;
}

.line_gray {
  background-color: #ECEFF1;
}

.line_grayish {
  background-color: #eceff1;
}

.border-top-gray {
  border-top: 1px solid #d8d8d8;
}

.border-bottom-gray {
  border-bottom: 1px solid #d8d8d8;
}

.border-gray {
  border: 1px solid #d8d8d8;
}

.border-red {
  border: 1px solid red;
}

.button {
  display: inline-block;
  min-width: 130px;
  cursor: pointer;
  vertical-align: top;
  border-radius: 4px;
}

.button_middle {
  padding: 9px;
}

.button_white {
  color: #616161;
  background-color: white;
}

.button_green {
  color: white;
  background-color: #1da060;
}

.button_border-green {
  border: 1px solid #1da060;
}

.button_blog {
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  float: right;
  width: 26%;
  min-width: 0;
  padding: 14px 0;
  border: 0;
  border-radius: 0 4px 4px 0;
}

@media screen and (max-width: 480px) {
  .button_blog {
    font-size: 14px;
  }
}
.input-wrapper {
  position: relative;
  display: inline-block;
  margin-right: 17px;
  margin-bottom: 10px;
  vertical-align: top;
}

.input-wrapper_select:after {
  position: absolute;
  top: 45px;
  right: 14px;
  display: block;
  content: ' ';
  border-width: 5px 5px 5px 5px;
  border-style: solid;
  border-color: transparent;
  border-top-color: #d8d8d8;
  width: 0;
  height: 0;
}

.input-wrapper__410 {
  width: 410px;
  margin-right: 0;
}

.input-wrapper__240 {
  width: 240px;
}

.input-wrapper__230 {
  width: 230px;
}

.input-wrapper__210 {
  width: 210px;
}
.input-wrapper__210:last-of-type {
  margin-right: 0;
}

.input-wrapper__90 {
  width: 90px;
}

.input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  background-color: white;
}

.input_select {
  height: 44px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input_large {
  font-size: 14px;
  line-height: 15px;
  padding: 13px 10px 14px 9px;
}

.input_blog {
  font-size: 16px;
  line-height: 16px;
  float: left;
  width: 74%;
  padding: 13px 11px;
  border-right: 0;
  border-radius: 4px 0 0 4px;
}

@media screen and (max-width: 480px) {
  .input_blog {
    font-size: 14px;
  }

  .input-wrapper__410,
  .input-wrapper__240,
  .input-wrapper__210 {
    margin-right: 0;
    width: 100%;
  }

  .input-wrapper__230 {
    width: 190px;
  }
}
@media screen and (min-width: 481px) and (max-width: 810px) {
  .input-wrapper__240,
  .input-wrapper__410,
  .input-wrapper__210 {
    width: 47%;
  }

  .input-wrapper__210:nth-last-of-type(2) {
    margin-right: 0;
  }
  .input-wrapper__210:nth-last-of-type(1) {
    width: 100%;
  }
}
@media screen and (max-width: 810px) {
  .input-wrapper__410,
  .input-wrapper__240,
  .input-wrapper__230,
  .input-wrapper__210,
  .input-wrapper__90 {
    text-align: left;
  }

  .input-wrapper__90 {
    margin-right: 0;
  }
}
.link {
  cursor: pointer;
}
.link:hover {
  color: #21b66d;
}
.link:visited:hover {
  color: #21b66d;
}

.link_gray {
  color: #9e9e9e;
}

.link_green {
  color: #1da060;
}

.link-list {
  display: inline-block;
  vertical-align: top;
}

.link-list__item {
  font-size: 14px;
  display: block;
  margin-bottom: 5px;
}

.header {
  position: relative;
  z-index: 10;
}

.logo {
  display: inline-block;
  width: 80px;
}

.header__select {
  position: relative;
  font-size: 14px;
  font-weight: 300;
  display: block;
  margin-top: 11px;
  padding-top: 10px;
  color: #9e9e9e;
}
.header__select:after {
  position: absolute;
  top: 16px;
  right: 12px;
  display: block;
  content: ' ';
  border-width: 5px 5px 5px 5px;
  border-style: solid;
  border-color: transparent;
  border-top-color: #d8d8d8;
  width: 0;
  height: 0;
}
.header__select:before {
  display: inline-block;
  margin: -3px 10px -2px 3px;
  content: '';
  vertical-align: top;
  background-image: url("http://top.kz/images/icons/pin.svg");
  width: 16px;
  height: 20px;
}

.h-cont-wrapper {
  display: inline-block;
  vertical-align: top;
}

.h-cont {
  display: inline-block;
  width: 160px;
  margin-top: 30px;
  margin-left: 19px;
  text-align: left;
  vertical-align: top;
}

.h-cont__icon {
  margin-right: 8px;
}

.h-cont__phone {
  font-size: 16px;
  font-weight: 700;
  line-height: 14px;
  color: #616161 !important;
}

.nav {
  display: inline-block;
  margin: 33px 0 0 14px;
  vertical-align: top;
}

.nav__link {
  font-size: 14px;
  font-weight: 700;
  display: inline-block;
  margin-left: 31px;
  vertical-align: top;
  text-transform: uppercase;
}
.nav__link:first-of-type {
  margin-left: 0;
}

@media screen and (max-width: 480px) {
  .logo {
    display: block;
    margin: 0 auto;
  }

  .h-cont-wrapper {
    display: block;
    text-align: center;
  }

  .h-cont {
    width: 150px;
    margin: 0;
  }

  .h-cont__phone {
    font-size: 14px;
  }

  .nav {
    display: block;
    margin: 18px 0 11px;
    text-align: center;
  }
}
@media screen and (min-width: 481px) and (max-width: 640px) {
  .h-cont {
    width: 150px;
    margin: 20px 0 0;
    text-align: right;
  }

  .h-cont__phone {
    font-size: 14px;
  }

  .nav {
    margin: 10px 0;
  }
}
@media screen and (min-width: 641px) and (max-width: 768px) {
  .h-cont {
    margin: 20px 0 0;
    text-align: right;
  }

  .nav {
    margin: 10px 0;
  }
}
@media screen and (min-width: 769px) and (max-width: 930px) {
  .h-cont {
    margin-top: 20px;
  }

  .nav {
    margin-top: 10px;
  }
}
.header-img {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  margin-top: -80px;
  padding-top: 80px;
  text-align: center;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-img_index {
  min-height: 500px;
  background-color: #a7b6a5;
  background-image: url("../images/header-bg.jpg");
  background-position: center;
  background-size: cover;
}

.header-img_about {
  min-height: 530px;
  background-color: #414e45;
  background-image: url("../images/header-bg-about.jpg");
  background-position: center;
}

.header-img_job {
  min-height: 640px;
  background-color: #bad3bd;
  background-image: url("../images/header-bg-job.jpg");
  background-position: center bottom;
}

.header-img_blog {
  min-height: 704px;
  background-color: #a3a2a0;
  background-image: url("../images/header-bg-blog.jpg");
  background-position: center bottom;
}

.header-img_thank {
  padding-bottom: 130px;
  color: #1da060;
  background-color: #eceff1;
}

.header-img__large-title {
  font-size: 44px;
  font-weight: 500;
  line-height: 48px;
  margin-top: 150px;
  text-transform: uppercase;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.9);
}

.header-img__large-title_job {
  max-width: 600px;
  margin: 156px auto 0;
}
.header-img__large-title_job span {
  font-size: 40px;
}

.header-img__large-title_blog {
  font-size: 64px;
  margin: 142px auto 20px;
}

.header-img__small-title {
  font-size: 20px;
  font-weight: 300;
  margin-top: 17px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.header-img__blog-title {
  font-size: 20px;
  margin-bottom: 30px;
}

.header-img__button {
  font-size: 20px;
  font-weight: 300;
  margin-top: 30px;
  padding: 23px 44px 21px 52px;
  border-radius: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.header-img__button img {
  margin-left: 20px;
}

.header-img__form-wrapper {
  overflow: hidden;
  width: 94%;
  max-width: 540px;
  margin: 54px auto 54px;
}

@media screen and (max-width: 480px) {
  .header-img {
    margin-top: -150px;
    padding-top: 150px;
  }

  .header-img_index {
    background-position: 19% 48px;
  }

  .header-img__large-title {
    font-size: 10vw;
    line-height: normal;
    margin-top: 15vw;
  }

  .header-img__large-title_job span {
    font-size: 10vw;
  }

  .header-img__small-title {
    font-size: 18px;
    line-height: normal;
    margin-top: 10vw;
  }

  .header-img__button {
    font-size: 18px;
    margin-bottom: 30px;
    padding: 15px 30px 16px 40px;
  }

  .header-img__blog-title {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .header-img_blog .footer__image {
    width: 36px;
    height: 36px;
  }
  .header-img_blog .footer__image img {
    width: 100%;
    height: auto;
  }
}
@media screen and (min-width: 481px) and (max-width: 640px) {
  .header-img__large-title {
    margin-top: 80px;
  }

  .header-img__button {
    font-size: 18px;
    margin-bottom: 30px;
    padding: 15px 30px 16px 40px;
  }
}
@media screen and (min-width: 641px) and (max-width: 768px) {
  .header-img__large-title {
    margin-top: 100px;
  }

  .header-img__button {
    margin-bottom: 70px;
  }
}
@media screen and (max-width: 768px) {
  .header-img_index,
  .header-img_about,
  .header-img_job,
  .header-img_blog {
    min-height: auto;
  }

  .header-img_about .header-img__large-title {
    margin-bottom: 15vw;
  }

  .header-img_blog .footer__image {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 769px) and (max-width: 960px) {
  .header-img_about {
    min-height: 585px;
  }
}
.advantages {
  text-align: center;
}

.advantages__large-title {
  font-size: 36px;
  font-weight: 700;
  display: block;
  margin-top: 60px;
  margin-bottom: 80px;
}

.advantage {
  margin-bottom: 60px;
}

.advantage__image {
  height: 64px;
}

.advantage__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 18px;
  display: block;
  margin-top: 23px;
  margin-bottom: 34px;
}

.advantage__text {
  font-size: 16px;
  line-height: 18px;
  display: block;
  min-height: 70px;
}

@media screen and (max-width: 480px) {
  .advantages__large-title {
    font-size: 9vw;
    margin: 10vw 0 15vw;
  }

  .advantage {
    margin-bottom: 20px;
  }

  .advantage__title {
    margin-bottom: 20px;
  }
}
.clients__large-title {
  margin-top: 60px;
}

.clients__small-title {
  margin: 20px 0 62px;
}

.review {
  display: inline-block;
  width: 460px;
  margin: 0 55px 50px 0;
  text-align: left;
  vertical-align: top;
}
.review:nth-of-type(2n) {
  margin-right: 0;
}

.review__image {
  float: left;
  overflow: hidden;
  margin-right: 20px;
  border-radius: 100%;
}

.review__content {
  overflow: hidden;
}

.review__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  display: block;
  margin-top: 16px;
}

.review__text {
  font-size: 14px;
  line-height: 20px;
}
.review__text:before {
  content: '«';
}
.review__text:after {
  content: '»';
}

.review__company {
  font-size: 18px;
}

.clients__button {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 60px;
  padding: 17px 20px 17px;
  border-radius: 40px;
}

@media screen and (max-width: 480px) {
  .review {
    display: block;
    width: 100%;
    max-width: 460px;
    margin: 0 auto 50px;
  }

  .review__image {
    width: 50px;
    height: 50px;
  }
  .review__image img {
    width: 100%;
    height: auto;
  }

  .clients__button {
    padding: 13px 20px 14px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .review {
    display: block;
    margin: 0 auto 50px;
  }
  .review:nth-of-type(2n) {
    margin-right: auto;
  }
}
@media screen and (min-width: 769px) and (max-width: 1015px) {
  .review {
    width: 48%;
    margin-right: 2%;
  }
  .review:nth-of-type(2n) {
    margin-right: 0;
  }
}
.book {
  padding-top: 72px;
  padding-bottom: 90px;
}

.book__title {
  font-size: 30px;
  line-height: 34px;
  display: block;
  margin: 14px 0 28px;
}
.book__title b {
  font-weight: 700;
}

.book__button {
  font-size: 16px;
  font-weight: 300;
  padding: 16px 40px 18px;
  border-radius: 40px;
}
.book__button img {
  margin-left: 10px;
}

.book__button_white {
  color: #1da060;
}

.book__text {
  margin: 25px 0 58px;
}

@media screen and (max-width: 480px) {
  .book {
    padding-top: 15vw;
    padding-bottom: 20vw;
  }

  .book__title {
    font-size: 26px;
  }
}
.step {
  position: relative;
  display: inline-block;
  margin: 0 70px 56px;
  vertical-align: top;
}

.step__text {
  font-size: 20px;
  font-weight: 700;
  line-height: 21px;
  display: block;
  margin-top: 20px;
}

.steps__large-title {
  margin: 60px 0 90px;
}

@media screen and (max-width: 768px) {
  .step {
    margin: 0 10px 36px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1015px) {
  .step {
    margin: 0 22px 36px;
  }
}
@media screen and (min-width: 1016px) and (max-width: 1060px) {
  .step {
    margin: 0 60px 36px;
  }
}
.masters {
  padding-bottom: 60px;
}

.master {
  display: inline-block;
  width: 260px;
  margin: 0 16px 40px;
  vertical-align: top;
}

.master__image {
  overflow: hidden;
  margin: 0 auto 20px;
  border-radius: 100%;
  width: 146px;
  height: 146px;
}

.master__title {
  font-size: 20px;
  font-weight: 700;
  display: block;
}

.master__text {
  font-size: 16px;
  line-height: 16px;
  display: block;
  margin-top: 11px;
}

.valeur-wrapper {
  margin: 85px 0 15px;
}

.valeur {
  margin-bottom: 45px;
}

.valeur_left {
  margin-left: 140px;
}

.valeur_right {
  margin-right: 140px;
}

.valeur__image {
  height: 78px;
}

.valeur__title {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  display: block;
  min-height: 40px;
  margin-bottom: 18px;
}

.valeur__title_border:after {
  display: block;
  margin: 16px auto 0;
  content: '';
  background-color: #1da060;
  width: 50px;
  height: 2px;
}

.valeur__desc {
  font-size: 14px;
  line-height: 18px;
  display: block;
  margin-bottom: 11px;
}

@media screen and (min-width: 481px) and (max-width: 640px) {
  .section_middle .valeur__title {
    position: relative;
    min-height: 55px;
  }
  .section_middle .valeur__title:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -25px;
  }
}
@media screen and (max-width: 640px) {
  .valeur_left {
    margin-left: 0;
  }

  .valeur_right {
    margin-right: 0;
  }
}
@media screen and (min-width: 641px) and (max-width: 768px) {
  .valeur_left {
    margin-left: 90px;
  }

  .valeur_right {
    margin-right: 90px;
  }
}
.map {
  position: relative;
  padding: 116px 0 76px;
}

#YMapsID {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 426px;
}

.address {
  position: relative;
  z-index: 10;
  font-style: normal;
  width: 100%;
  max-width: 380px;
  padding: 64px 0 32px;
  text-align: center;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.address__image {
  position: absolute;
  top: -40px;
  left: 50%;
  overflow: hidden;
  margin-left: -40px;
  color: white;
  border-radius: 100%;
  background-color: #1da060;
  width: 80px;
  height: 80px;
}

.address__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 21px;
  display: block;
}

.address__text {
  font-size: 18px;
  display: block;
  margin: 20px 0 21px;
}

.address__value {
  font-size: 16px;
  line-height: 18px;
  display: block;
}

@media screen and (max-width: 640px) {
  .address {
    margin: 0 auto;
  }
}
.job-list {
  padding: 60px 0;
}

.job-list__title {
  font-size: 24px;
  font-weight: 700;
  display: block;
  margin-bottom: 31px;
}

.job-list__list {
  margin-bottom: 41px;
}

.job-list__item {
  font-size: 14px;
  line-height: 17px;
  display: block;
  overflow: hidden;
  margin-bottom: -23px;
}
.job-list__item:before {
  float: left;
  margin-right: 9px;
  content: '';
  background: url("../images/icons/job-list.svg") no-repeat center top;
  width: 20px;
  height: 54px;
}

.content {
  border-radius: 4px;
}

.content_white {
  background-color: white;
}

.content__section {
  padding: 19px 54px 10px;
}

.content__section_date {
  padding: 30px 54px 50px;
}

.content__section-small {
  padding: 15px 24px 4px 15px;
}

.content__320 {
  width: 320px;
}

.subscription-desc {
  margin: 10px 0;
}

.extra-middle-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  display: block;
  padding: 19px 0 16px;
}

.content__small-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  display: block;
  margin-bottom: 10px;
}

.content__small-title-padding {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  display: block;
  margin-bottom: 10px;
  padding: 20px;
}

.content__small-title-padding-mobile {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  display: block;
  margin-bottom: 20px;
  padding: 20px;
}

.summary__price {
  display: block;
}

.summary__price-mobile {
  display: none;
}

.small-title_date {
  margin-bottom: 30px;
}

.main-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  display: block;
  margin-bottom: 20px;
}

.extra-main-title {
  font-size: 14px;
  line-height: 15px;
  display: block;
  margin-bottom: 11px;
}

.extra-small-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 15px;
  display: block;
  margin-bottom: 10px;
}

.content__button {
  font-size: 16px;
  display: inline-block;
  margin: 20px 0;
  padding: 14px 50px;
  vertical-align: top;
  border: 0;
}

@media screen and (max-width: 480px) {
  .content__section {
    padding: 19px 0 10px;
  }

  .extra-middle-title {
    font-size: 20px;
  }

  .summary__price {
    display: none;
  }

  .summary__price-mobile {
    background-color: #FFFFFF;
    z-index: 10;
    display: block;
  }

  .fixed-pricebar {
    padding-bottom: 61px;
  }
  .fixed-pricebar .summary__price-mobile {
    top: 0;
    position: fixed;
    width: 96%;
  }
}
@media screen and (max-width: 810px) {
  .content__section {
    text-align: center;
  }

  .content__320 {
    width: 100%;
    margin-bottom: 30px;
  }
  .content__320:last-of-type {
    margin-bottom: 0;
  }
}
.radio-wrappers {
  margin-bottom: 20px;
}

.radio-wrapper {
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.radio-wrapper:last-of-type .radio_large,
.radio-wrapper:last-of-type .radio_middle {
  margin-right: 0;
}
.radio-wrapper:nth-of-type(4n) .radio_small {
  margin-right: 0;
}
.radio-wrapper .number-control_radio-small {
  display: none;
}
.radio-wrapper.with-hover:hover .number-control_radio-small {
  display: block;
}
.radio-wrapper.with-hover:hover .radio__small-image {
  display: none;
}

.radio-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.radio-input:checked + .radio_large {
  color: #1da060;
  border-color: #1da060;
}
.radio-input:checked + .radio_middle {
  color: white;
  border-color: #1da060;
  background-color: #1da060;
}
.radio-input:checked + .radio_middle .radio__middle-text {
  color: white;
}
.radio-input:checked + .radio_small {
  border-color: #1da060;
}
.radio-input:checked + .radio_small .radio__small-image_1,
.radio-input:checked + .radio_small .radio__small-image_2,
.radio-input:checked + .radio_small .radio__small-image_4,
.radio-input:checked + .radio_small .radio__small-image_5,
.radio-input:checked + .radio_small .radio__small-image_6,
.radio-input:checked + .radio_small .radio__small-image_8,
.radio-input:checked + .radio_small .radio__small-image_9 {
  background-position: 0 -50px;
}
.radio-input:checked + .radio_small .radio__small-image_3,
.radio-input:checked + .radio_small .radio__small-image_7 {
  background-position: 0 -40px;
}

.radio {
  box-sizing: border-box;
}

.radio_large {
  margin-right: 30px;
  width: 130px;
  height: 124px;
}

.radio_middle {
  margin: 21px 17px 20px 0;
  width: 152px;
  height: 82px;
}

.radio__image {
  height: 48px;
}

.radio__title {
  font-size: 14px;
  line-height: 15px;
  display: block;
}

.radio__middle-title {
  font-size: 18px;
  line-height: 19px;
  display: block;
  padding: 0 20px;
}

.radio__middle-text {
  font-size: 14px;
  line-height: 15px;
  display: block;
  margin-top: 7px;
  color: #9e9e9e;
}

.radio__image-wrapper {
  margin: 0 auto;
  width: 130px;
  height: 55px;
}

.radio_small {
  margin: 20px 17px 0 0;
  width: 152px;
  height: 120px;
}

.radio__small-title {
  font-size: 14px;
  line-height: 15px;
  display: block;
  margin: 0 auto;
  width: 125px;
  height: 25px;
}

.radio__small-image {
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: 100%;
}

.radio__small-image_1,
.radio__small-image_2,
.radio__small-image_4,
.radio__small-image_5,
.radio__small-image_6,
.radio__small-image_8,
.radio__small-image_9 {
  width: 50px;
  height: 50px;
  background-size: 100%;
}

.radio__small-image_3 {
  width: 60px;
  height: 40px;
}

.radio__small-image_7 {
  width: 34px;
  height: 40px;
}

@media screen and (max-width: 480px) {
  .radio_middle {
    width: 130px;
  }

  .radio_small {
    width: 130px;
  }

  .radio__image-wrapper {
    width: 120px;
  }

  .radio__small-title {
    width: 110px;
  }
}
@media screen and (max-width: 810px) {
  .radio-wrapper:last-of-type .radio_middle {
    margin-right: 10px;
  }
  .radio-wrapper:nth-of-type(4n) .radio_small {
    margin-right: 10px;
  }

  .radio_middle {
    margin: 21px 10px 20px;
  }

  .radio_small {
    margin: 21px 10px 20px;
  }
}
.number-control {
  position: relative;
  display: block;
  overflow: hidden;
  height: 42px;
  margin-bottom: 10px;
  text-align: center;
  background-color: white;
}

.number-control_radio-small {
  position: absolute;
  top: 40px;
  left: 10px;
  width: 130px;
}

.number-control__button {
  border: 0;
  position: absolute;
  top: 0;
  background-color: white;
  width: 42px;
  height: 42px;
}
.number-control__button:hover {
  color: white;
  background-color: #1da060;
}

.number-control__button_minus {
  left: 0;
  border-right: 1px solid #d8d8d8;
}

.number-control__button_plus {
  right: 0;
  border-left: 1px solid #d8d8d8;
}

.number-control__button_disabled {
  cursor: not-allowed;
  color: #9e9e9e;
  background-color: #d8d8d8;
}
.number-control__button_disabled:hover {
  color: #9e9e9e;
  background-color: #d8d8d8;
}

.number-control__text {
  font-size: 14px;
  padding-top: 14px;
}

.number-control__input {
  display: none;
}

@media screen and (max-width: 480px) {
  .number-control__button {
    width: 34px;
  }

  .number-control_radio-small {
    left: 14px;
    width: 120px;
    min-width: 120px;
  }
}
@media screen and (min-width: 481px) and (max-width: 780px) {
  .number-control_radio-small {
    left: 20px;
  }
}
.pickmeup {
  position: absolute;
  display: none;
  margin-top: 14px;
  border: 1px solid #d8d8d8;
  border-radius: 5px;
  background: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.07);
}
.pickmeup:not(.pmu-view-days) .pmu-days, .pickmeup:not(.pmu-view-days) .pmu-day-of-week, .pickmeup:not(.pmu-view-months) .pmu-months, .pickmeup:not(.pmu-view-years) .pmu-years {
  display: none;
}
.pickmeup:after {
  display: block;
  clear: both;
  content: '';
}

.pmu-instance {
  position: relative;
  width: 100%;
  max-width: 336px;
}

.pmu-nav {
  position: relative;
  padding-top: 21px;
  padding-bottom: 22px;
  text-align: center;
  border-bottom: 1px solid #9e9e9e;
}

.pmu-prev,
.pmu-next {
  display: none;
}

.pmu-month {
  font-size: 18px;
  font-weight: 500;
  display: block;
  padding: 13px 0 17px;
  text-align: center;
  text-transform: uppercase;
}

.pmu-day-of-week {
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 11px;
  text-align: center;
}
.pmu-day-of-week div {
  display: inline-block;
  width: 14.2%;
  margin-right: 0;
  vertical-align: top;
  text-transform: uppercase;
}
.pmu-day-of-week:after {
  display: block;
  clear: both;
  content: '';
}

.pmu-item {
  display: inline-block;
  margin: 0 6px 8px 6px;
  vertical-align: top;
  width: 25px;
  height: 16px;
}

.pmu-days {
  font-size: 14px;
  line-height: 15px;
  text-align: center;
}
.pmu-days .pmu-button {
  position: relative;
  z-index: 10;
  display: inline-block;
  width: 14.2%;
  margin-bottom: 20px;
  vertical-align: top;
}

.pmu-not-in-month {
  color: #9e9e9e;
}

.pmu-selected {
  color: #1da060;
}
.pmu-selected:before {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  display: block;
  box-sizing: border-box;
  margin-top: -12px;
  margin-left: -12px;
  content: '';
  border: 2px solid #1da060;
  border-radius: 100%;
  width: 24px;
  height: 24px;
}

.pmu-today {
  position: relative;
  color: white;
}
.pmu-today:before {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  display: block;
  margin-top: -12px;
  margin-left: -12px;
  content: '';
  border-radius: 100%;
  background-color: #1da060;
  width: 24px;
  height: 24px;
}
.pmu-today span {
  position: relative;
  z-index: 10;
}

.pmu-button {
  cursor: pointer;
}

.pmu-months .pmu-button,
.pmu-years .pmu-button {
  float: left;
  width: 33.33333%;
  padding: 10px 0;
  text-align: center;
}
.pmu-months .pmu-button:hover,
.pmu-years .pmu-button:hover {
  background-color: #d8d8d8;
}

.pmu-footer {
  clear: both;
  padding: 8px 20px 9px 0;
}

.footer {
  position: relative;
  height: 190px;
  margin-top: -191px;
}

.footer__logo {
  width: 40px;
  height: 40px;
  margin-top: 36px;
  margin-bottom: 11px;
}

.footer__link {
  font-size: 14px;
  font-weight: 700;
  display: block;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.footer__arrowup {
  width: 20px;
  margin-bottom: 10px;
  opacity: .10;
}
.footer__arrowup:hover {
  opacity: .13;
}

.footer__list {
  margin: 10px 11% 0 0;
}

.footer__block {
  display: inline-block;
  margin-top: 20px;
  vertical-align: top;
}
.footer__block:last-of-type {
  margin-right: 0;
}

.footer__title {
  font-size: 14px;
  display: block;
  margin: 0 0 13px 2px;
}

.footer__image {
  display: inline-block;
  margin: 0 4px;
  vertical-align: top;
}

.footer__cont-wrapper {
  margin-top: 36px;
}

.footer__cont {
  width: 100%;
  margin-bottom: 10px;
  text-align: right;
}

.footer__address {
  font-size: 14px;
  line-height: 20px;
  display: block;
  margin-top: -6px;
}

.footer__copy {
  margin-top: 22px;
}

@-webkit-keyframes a {
  10% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  30% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes a {
  10% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  30% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  vertical-align: text-bottom;
  overflow: hidden;
}

.icon._love {
  background-image: url(../images/love_icon.svg);
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-animation: a .8s linear infinite;
  animation: a 0.8s linear infinite;
}

@media screen and (max-width: 480px) {
  .footer__logo {
    margin-top: 20px;
  }

  .footer__link,
  .footer__cont-wrapper,
  .footer__address {
    display: none;
  }

  .footer__block {
    margin-top: 0;
  }
}
@media screen and (min-width: 481px) and (max-width: 640px) {
  .footer__cont {
    display: none;
  }

  .footer__address {
    margin-top: 60px;
  }
}
@media screen and (min-width: 641px) and (max-width: 768px) {
  .footer__cont .h-cont__phone {
    font-size: 14px;
  }
}
.ta-center {
  text-align: center;
}

.large-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  display: block;
}

.small-title {
  font-size: 20px;
  line-height: 20px;
  display: block;
}

.current-fill {
  fill: currentColor;
}

.current-stroke {
  stroke: currentColor;
}

.fl {
  float: left;
}

.fr {
  float: right;
}
.text-primary {
    color: #FFFFFF;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 15px;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
    box-sizing: border-box;
}
.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.portfolio-box {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
}

.portfolio-box .portfolio-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: #1da060;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.portfolio-box .portfolio-box-caption-bottom {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
    text-align: center;
    color: #fff;
    opacity: 0.9;
    background: #1da060;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.portfolio-box .portfolio-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.portfolio-box .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption-content .project-name {
    padding: 0 15px;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.portfolio-box .portfolio-box-caption-content .project-category {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.portfolio-box .portfolio-box-caption-content .project-name {
    font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
    opacity: 0.8;
}
.portfolio-box:hover .portfolio-box-caption-bottom {
    opacity: 0;
}

@media(min-width:768px) {
    .portfolio-box  .portfolio-box-caption-content .project-category {
        font-size: 16px;
    }

    .portfolio-box .portfolio-box-caption-content .project-name {
        font-size: 22px;
    }
}

.call-to-action h2 {
    margin: 0 auto 20px;
}

